
/* Variables
-----------------------------------------------------------------*/

$main_color: #FCA311;
$main_color2: #C27D0E;
$main_color3: #F2C213;
$main_color4: #885709;
$body_color: #141618;
$sub_bg: #fafafa;
$main_bg: #f8f9fa;
$mobile-xs-screen: 480px;
$tablet-sm-screen: 768px;
$desk-md-screen: 992px;
$desk-lg-screen: 1300px;